.card {
  height: 433px;
  width: 370px;
  left: 120px;
  top: 957px;
  border-radius: 16px;
  background-image: center;
  padding: 30px;
  background-color: #2b076e;
  margin: 15px;
}

.card_information {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}
.bitcoin {
  font-size: 32px;
}
